@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
:root {
    --primary-font: 'Quicksand', sans-serif;
}

* { box-sizing: border-box; }

body {
    width: 100vw;
    font-family: var(--primary-font);
    margin: 0;
    color: brown;
}

